.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
body 
{
  background: #343c49;
}
.tab { background:white; }

.up 
{
  margin-top: 180px;
}
.bordure 
{
  color: white;
  background:#9FC916;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  height: 60px;
  padding-top:1px;
}
.calendar 
{
  height: 240px;
  background: white;
}
.user 
{
   background: white;
}
.class
{
  margin-top: 20px;
}
.espace 
{
   margin-top: 10px;
}
.horloge 
{
  height: 370px;
  margin: 10px;
  width: 370px;
  background: url(back.png)no-repeat;
  background-size: cover;
  
}
.stat
{
  height: 370px;
  width: 370px;
  background: white;
  margin: 10px;
}