.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
body 
{
  background: #343c49;
}
.tab { background:white; }

.up 
{
  margin-top: 180px;
}
.bordure 
{
  color: white;
  background:#9FC916;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  height: 70px;
  padding-top:1px;
}
.bordure h1 
{
  padding-top: -5px;
}
.calendar 
{
 
  background: white;
}
.calendar .col-md-3
{
  border-right: 1px solid black;
}
.user 
{
   background: white;
   height: 580px;
   overflow-y:auto;
}
.class
{
  margin-top: 20px;
}
.espace 
{
   margin-top: 10px;
}
.horloge 
{
  height: 360px;
  margin: 10px;
  width: 360px;
  background: url(back.png)no-repeat;
  background-size: cover;
  
}
.stat
{
  height: 360px;
  width: 360px;
  background: url(caoture.png)no-repeat;
background-size: cover;
  margin: 10px;
  margin-left: 4px;
}
.rect 
{
  height: 190px;
  background: white;
  text-align: left;
  margin-bottom: 120px;
}
.big 
{
  font-size: 25px;
  padding-top: 40px;
}
.butt 
{
  margin-top:80px;
}
.row 
{
 margin-left: -7px;
}
.dos 
{
  height: 80px;
  background:#943A3A;
}
.uno
{
  height: 50px;
  border: none;
}
.tre
{
  height: 23px;
  background: #2dc64c;
  border:none;
}
.for
{
  height: 60px;
  border: none;
}
.six
{
  height: 65px;
  background: #efdc09;
  border: none;
}
.sev
{
  height: 65px;
  background: #efdc09;
  border: none;
}
.cin
{
  background: #5e95ed;
  border: none;
}
.mesDemandes
{
  height: 190px;
  background: white;
}
.mesDemandes p 
{
  color: #636262;
  text-align: left;
  margin-top: 80px;
}
.mesDemandes img
{
  margin-top: 60px;
}